<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="mcsLaunch.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <mcsLaunch.Properties.Settings>
            <setting name="Size" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="RememberUsername" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LauncherFile" serializeAs="String">
                <value />
            </setting>
            <setting name="OldLauncherFile" serializeAs="String">
                <value />
            </setting>
            <setting name="UseOldLauncher" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ServerIPs" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="ServerNickname" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="DefaultServerIndex" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="SpecifiedOldLauncher" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RememberPassword" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CloseOnLaunch" serializeAs="String">
                <value>True</value>
            </setting>
        </mcsLaunch.Properties.Settings>
    </userSettings>
</configuration>